<div class="empresarialesDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <h2 class="fw-bold mb-5 text-center">Eventos Empresariales</h2>
                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/empresariales1.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Eventos para tu empresa</h3>
                        <hr>

                        <p class="text-muted">Impulsa el éxito de tu empresa con eventos empresariales excepcionales.Los
                            eventos empresariales son una oportunidad
                            clave para fortalecer relaciones, fomentar la colaboración y promover el crecimiento de tu
                            negocio. Es por eso que nos enorgullece ofrecerte servicios de planificación y ejecución de
                            eventos empresariales de primera clase. <br><br>

                            Ya sea que estés planeando una conferencia, una reunión ejecutiva o una fiesta de fin de año
                            para tus empleados, nuestro equipo de expertos se encargará de cada detalle para que tú
                            puedas concentrarte en alcanzar tus objetivos empresariales. <br><br>

                            Impulsa el crecimiento y éxito de tu empresa con eventos empresariales excepcionales. ¡Llama
                            ahora y déjanos diseñar la experiencia perfecta para tu negocio!
                        </p>
                        <ul class="navStyle list-group list-group">
                            <li class="list-group-item navStyle">Eventos de fin de año</li>
                            <li class="list-group-item navStyle">Aniversarios</li>
                            <li class="list-group-item navStyle">Activaciones</li>
                            <li class="list-group-item navStyle">Conferencias</li>
                        </ul> <br> <br>

                        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/catering.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Servicio de catering</h3>
                        <hr>
                        <p class="text-muted">Saborea la excelencia culinaria en tus eventos con nuestro servicio de
                            catering de primera categoría. Nos apasiona crear experiencias gastronómicas únicas que deleiten
                            y cautiven a tus invitados. Ya sea un evento corporativo, una boda o una fiesta privada,
                            nuestro equipo de chefs expertos y personal de servicio llevará la excelencia culinaria a
                            cada bocado. <br> <br>

                            Nuestro menú exquisitamente diseñado combina ingredientes frescos y de alta calidad con
                            técnicas culinarias innovadoras, creando platos irresistibles que satisfacen cualquier
                            paladar. Ya sea que desees una experiencia culinaria tradicional o algo más aventurero, nos
                            adaptaremos a tus preferencias y necesidades, ofreciendo una variedad de opciones para
                            satisfacer los gustos más exigentes. <br> <br>

                            Además, nos encargamos de los detalles logísticos, desde la disposición de las mesas hasta
                            el servicio impecable, para garantizar que tus invitados se sientan atendidos y disfruten de
                            un momento memorable. <br> <br>

                            No te conformes con menos en tu próximo evento. Permítenos deleitar a tus invitados con un
                            servicio de catering excepcional.
                        </p> <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                {{!-- <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/infantiles.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Fiestas infantiles</h3>
                        <hr>
                        <p class="text-muted">¡Haz realidad la fiesta de ensueño para tus pequeños con nuestros
                            emocionantes servicios de fiestas infantiles! <br> <br>

                            Entendemos lo importante que es para ti que tus hijos vivan
                            momentos inolvidables en su día especial. Nos enorgullece ser parte de esa alegría y hacer
                            que sus sueños se hagan realidad. <br> <br>

                            Nuestro equipo de expertos en fiestas infantiles se dedicará a crear un evento mágico y
                            lleno de diversión. Desde la decoración temática hasta las actividades divertidas y el
                            entretenimiento encantador, nos aseguraremos de que tus hijos y sus invitados tengan una
                            experiencia única. <br> <br>

                            No pierdas más tiempo pensando cómo organizar esa fiesta perfecta para tus pequeños.
                            Contáctanos hoy mismo y permítenos mostrar cómo podemos transformar la imaginación de tus
                            hijos en una fiesta mágica y llena de diversión. <br> <br>

                            ¡La felicidad de tus hijos merece una fiesta inolvidable! ¡Hagamos realidad sus sueños
                            juntos en su próxima fiesta infantil!</p> <button type="button"
                            class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div> --}}
            </section>
        </section>
        <!---->
    </div>
    {{!-- <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <style>
                    @media (min-width: 992px) {
                        #cta-img-nml-50 {
                            margin-left: 50px;
                        }
                    }
                </style>
                <div class="row gx-0">
                    <div class="col-lg-5 mb-4 mb-md-0">
                        <div class="d-flex py-md-5"> <img src="/assets/images/otros.jpg"
                                class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10" alt=""
                                aria-controls="#picker-editor"> </div>
                    </div>
                    <div class="col-lg-7 mb-4 mb-md-0">
                        <div class="navStyle h-100 rounded-6 p-4 ps-lg-5 text-black d-flex align-items-center">
                            <div class="ps-lg-5">
                                <h2 class="fw-bold mb-4">Bautizos & XV años</h2>
                                <hr>
                                <p class="">Celebra momentos especiales con nuestros servicios de bautizos y
                                    XV años. Entendemos que hay ocasiones en la vida que merecen ser
                                    celebradas de manera única y significativa. Estamos aquí para ayudarte a crear
                                    recuerdos inolvidables en dos momentos clave: los bautizos y los XV años. <br> <br>


                                    Ya sea que estés planeando el bautizo de tu hijo, donde queremos que cada detalle
                                    honre su entrada a la vida espiritual, o los XV años de tu hija, donde buscamos
                                    crear una experiencia memorable y mágica, estamos comprometidos en hacer realidad
                                    tus sueños. <br> <br>

                                    No esperes más para hacer de estos momentos especiales algo mágico. Contáctanos hoy
                                    mismo y déjanos ayudarte a crear una celebración que quedará en los corazones de
                                    todos los invitados. <br> <br>

                                    Celebra el milagro de la vida con un bautizo inolvidable o marca el comienzo de una
                                    nueva etapa con un quinceañero extraordinario. ¡Llama ahora y juntos hagamos de
                                    estas celebraciones momentos mágicos y llenos de amor!</p>

                                <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                                    onclick="location.href='#contacto';">Cotizar</button>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div> --}}
    <div data-draggable="true" style="position: relative;" id="contacto">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class=" background-radial-gradient overflow-hidden">
                <style>
                    .background-radial-gradient {
                        background-color: hsl(218, 41%, 15%);
                        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                    }


                    .bg-glass {
                        background-color: hsla(0, 0%, 100%, 0.9) !important;
                        backdrop-filter: saturate(200%) blur(25px);
                    }
                </style>
                <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="row gx-lg-5 align-items-center mb-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                            <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> <span>Reserva
                                    la fecha</span> <br> <span class="yellowPaprika">¡Cotiza ahora!</span>
                            </h1>
                            <hr class="hrBorder">
                            <h4 class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">Organiza tu evento
                                en los lugares más exclusivos y vibrantes de la Ciudad de México.</h4>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                            <div class="card bg-glass">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example2"
                                                class="form-control formInput" name="number" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Número de teléfono</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto <span><a href="/privacidad" class="blackLink">política de
                                                        privacidad</a></span>
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>