<div class="empresarialesDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <h2 class="fw-bold mb-5 text-center">Eventos Empresariales</h2>
                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/empresariales1.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Eventos para tu empresa</h3>
                        <hr>

                        <p class="text-muted">Impulsa el éxito de tu empresa con eventos empresariales excepcionales.Los
                            eventos empresariales son una oportunidad
                            clave para fortalecer relaciones, fomentar la colaboración y promover el crecimiento de tu
                            negocio. Es por eso que nos enorgullece ofrecerte servicios de planificación y ejecución de
                            eventos empresariales de primera clase. <br><br>

                            Ya sea que estés planeando una conferencia, una reunión ejecutiva o una fiesta de fin de año
                            para tus empleados, nuestro equipo de expertos se encargará de cada detalle para que tú
                            puedas concentrarte en alcanzar tus objetivos empresariales. <br><br>

                            Impulsa el crecimiento y éxito de tu empresa con eventos empresariales excepcionales. ¡Llama
                            ahora y déjanos diseñar la experiencia perfecta para tu negocio!
                        </p>
                        <ul class="navStyle list-group list-group">
                            <li class="list-group-item navStyle">Eventos de fin de año</li>
                            <li class="list-group-item navStyle">Aniversarios</li>
                            <li class="list-group-item navStyle">Activaciones</li>
                            <li class="list-group-item navStyle">Conferencias</li>
                        </ul> <br> <br>

                        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/catering.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Servicio de catering</h3>
                        <hr>
                        <p class="text-muted">Saborea la excelencia culinaria en tus eventos con nuestro servicio de
                            catering de primera categoría. Nos apasiona crear experiencias gastronómicas únicas que
                            deleiten
                            y cautiven a tus invitados. Ya sea un evento corporativo, una boda o una fiesta privada,
                            nuestro equipo de chefs expertos y personal de servicio llevará la excelencia culinaria a
                            cada bocado. <br> <br>

                            Nuestro menú exquisitamente diseñado combina ingredientes frescos y de alta calidad con
                            técnicas culinarias innovadoras, creando platos irresistibles que satisfacen cualquier
                            paladar. Ya sea que desees una experiencia culinaria tradicional o algo más aventurero, nos
                            adaptaremos a tus preferencias y necesidades, ofreciendo una variedad de opciones para
                            satisfacer los gustos más exigentes. <br> <br>

                            Además, nos encargamos de los detalles logísticos, desde la disposición de las mesas hasta
                            el servicio impecable, para garantizar que tus invitados se sientan atendidos y disfruten de
                            un momento memorable. <br> <br>

                            No te conformes con menos en tu próximo evento. Permítenos deleitar a tus invitados con un
                            servicio de catering excepcional.
                        </p> <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                {{!-- <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/infantiles.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Fiestas infantiles</h3>
                        <hr>
                        <p class="text-muted">¡Haz realidad la fiesta de ensueño para tus pequeños con nuestros
                            emocionantes servicios de fiestas infantiles! <br> <br>

                            Entendemos lo importante que es para ti que tus hijos vivan
                            momentos inolvidables en su día especial. Nos enorgullece ser parte de esa alegría y hacer
                            que sus sueños se hagan realidad. <br> <br>

                            Nuestro equipo de expertos en fiestas infantiles se dedicará a crear un evento mágico y
                            lleno de diversión. Desde la decoración temática hasta las actividades divertidas y el
                            entretenimiento encantador, nos aseguraremos de que tus hijos y sus invitados tengan una
                            experiencia única. <br> <br>

                            No pierdas más tiempo pensando cómo organizar esa fiesta perfecta para tus pequeños.
                            Contáctanos hoy mismo y permítenos mostrar cómo podemos transformar la imaginación de tus
                            hijos en una fiesta mágica y llena de diversión. <br> <br>

                            ¡La felicidad de tus hijos merece una fiesta inolvidable! ¡Hagamos realidad sus sueños
                            juntos en su próxima fiesta infantil!</p> <button type="button"
                            class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div> --}}
            </section>
        </section>
        <!---->
    </div>
    <div class="recintos responsiveSociales">

        <div class="valuePp">
            <div class="container">
                <h4 class=" text-center titleClebra"> <span>
                        <h1 class="titleInicioRecintos">Celebra tu evento en los lugares más exclusivos de la ciudad
                        </h1>
                    </span>
                </h4>
            </div>
        </div> <br> <br>
        <div class="container">

            <div class="row ">
                <div class="col-md-3">
                    {{!-- <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div> --}}
                    <div class="card">
                        <img id="myImg" src="/assets/images/volterra.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Volterra</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close text-white">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg2" src="/assets/images/hacienda.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Hacienda San Andrés</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal2" class="modal2">
                        <span class="close2 text-white">X</span>
                        <img class="modal-content2" id="img02">
                        <div id="caption2"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg3" src="/assets/images/sanHipolito.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Ex convento San Hipólito</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal3" class="modal3">
                        <span class="close3 text-white">X</span>
                        <img class="modal-content3" id="img03">
                        <div id="caption3"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg4" src="/assets/images/clubPeriodistas.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Club de periodistas</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal4" class="modal4">
                        <span class="close4 text-white">X</span>
                        <img class="modal-content4" id="img04">
                        <div id="caption4"></div>
                    </div><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg5" src="/assets/images/terrazaD.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Terraza Donceles</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal5" class="modal5">
                        <span class="close5 text-white">X</span>
                        <img class="modal-content5" id="img05">
                        <div id="caption5"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg6" src="/assets/images/museoJose.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Museo José luis Cuevas</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal6" class="modal6">
                        <span class="close6 text-white">X</span>
                        <img class="modal-content6" id="img06">
                        <div id="caption6"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg7" src="/assets/images/plyforum.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Polyforum Cultural Siqueiros</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal7" class="modal7">
                        <span class="close7 text-white">X</span>
                        <img class="modal-content7" id="img07">
                        <div id="caption7"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg8" src="/assets/images/claustro.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Claustro de Sor Juana</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal8" class="modal8">
                        <span class="close8 text-white">X</span>
                        <img class="modal-content8" id="img08">
                        <div id="caption8"></div>
                    </div><br>
                </div>
            </div>

        </div>
    </div> <br> <br>
    <div data-draggable="true" style="position: relative;" id="contacto">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class=" background-radial-gradient overflow-hidden">
                <style>
                    .background-radial-gradient {
                        background-color: hsl(218, 41%, 15%);
                        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                    }


                    .bg-glass {
                        background-color: hsla(0, 0%, 100%, 0.9) !important;
                        backdrop-filter: saturate(200%) blur(25px);
                    }
                </style>
                <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="row gx-lg-5 align-items-center mb-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                            <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> <span>Reserva
                                    la fecha</span> <br> <span class="yellowPaprika">¡Cotiza ahora!</span>
                            </h1>
                            <hr class="hrBorder">
                            <h4 class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">Organiza tu evento
                                en los lugares más exclusivos y vibrantes de la Ciudad de México.</h4>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                            <div class="card bg-glass">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example2"
                                                class="form-control formInput" name="number" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Número de teléfono</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto <span><a href="/privacidad" class="blackLink">política de
                                                        privacidad</a></span>
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>