<div class="inicio ">


    {{!-- <div class="">
        <div class="container firstInicioCont">
            <div class="row">
                <h1 class="text-center fontlato title1 ">Celebra tu evento en los lugares más exclusivos de la ciudad
                </h1>
            </div>
        </div>
    </div> --}}
    <!-- Start your project here-->
    <div class="inicioDivT">

    </div>
    <div id="nosotros" class="nosotrosT container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Los Taqueñitos"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>


            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>



    </div>
    <br>
    <div class="recintos ">

        <div class="valuePp">
            <div class="container">
                <h4 class=" text-center titleClebra"> <span>
                        <h1>Celebra tu evento en los lugares más exclusivos de la ciudad</h1>
                    </span>
                </h4>
            </div>
        </div> <br> <br>
        <div class="container">
            <div class="row">

            </div>
            <div class="row row-cols-4 g-4">
                <div class="col">
                    <img id="myImg" src="/assets/images/volterra.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Volterra</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close text-white">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg2" src="/assets/images/hacienda.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Hacienda San Andrés</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal2" class="modal2">
                        <span class="close2 text-white">X</span>
                        <img class="modal-content2" id="img02">
                        <div id="caption2"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg3" src="/assets/images/sanHipolito.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Ex convento San Hipólito</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal3" class="modal3">
                        <span class="close3 text-white">X</span>
                        <img class="modal-content3" id="img03">
                        <div id="caption3"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg4" src="/assets/images/clubPeriodistas.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Club de periodistas</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal4" class="modal4">
                        <span class="close4 text-white">X</span>
                        <img class="modal-content4" id="img04">
                        <div id="caption4"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg5" src="/assets/images/terrazaD.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Terraza Donceles</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal5" class="modal5">
                        <span class="close5 text-white">X</span>
                        <img class="modal-content5" id="img05">
                        <div id="caption5"></div>
                    </div>
                </div>

                <div class="col">
                    <img id="myImg6" src="/assets/images/museoJose.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Museo José luis Cuevas</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal6" class="modal6">
                        <span class="close6 text-white">X</span>
                        <img class="modal-content6" id="img06">
                        <div id="caption6"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg7" src="/assets/images/plyforum.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Polyforum Cultural Siqueiros</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal7" class="modal7">
                        <span class="close7 text-white">X</span>
                        <img class="modal-content7" id="img07">
                        <div id="caption7"></div>
                    </div>
                </div>
                <div class="col">
                    <img id="myImg8" src="/assets/images/claustro.jpg" class="card-img-top pointer"
                        style="width:100%;max-width:300px">
                    <div class="card" onclick="location.href='#eventos';">

                        <div class="card-body ">
                            <h5 class="card-title blackLink pointer">Claustro de Sor Juana</h5>

                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal8" class="modal8">
                        <span class="close8 text-white">X</span>
                        <img class="modal-content8" id="img08">
                        <div id="caption8"></div>
                    </div>
                </div>

            </div>
        </div>
    </div> <br> <br>
    <div class="bannerGrads parallax"></div>
    <div class="valuePp" style="margin-bottom: -1%;">
        <div class="container">
            <h4 class=" text-center titleClebra">
                <hr>
                El logro de toda una vida con un festejo excepcional: <br>
                Pre-fiesta, cena de gala, ambientación y cortesías para los invitados.
                <hr>
                <button type="button" class="btn btn-lg yellowPaprika " data-mdb-ripple-color="light"
                    onclick="location.href='#';">Ver
                    paquete de graduaciones</button>
            </h4>
        </div>
    </div>
    <div class="divGraduaciones parallax">

    </div>
    <div class="serviciosT" id="productos">
        <div class="container">

            <div class="row">

            </div><br> <br>
            <div class="row"> <br> <br> <br>
                <div class="col-md-6">
                    <h3 class="titlesTaque fontlato text-black">¡Tu evento inolvidable!</h3> <br>
                    <h5 class="titlesTaque fontlato text-black" style="text-align: justify;">

                        Nuestro equipo de expertos en eventos
                        está
                        listo para ayudarte a planificar y ejecutar la celebración perfecta. Ya sean <a href="#eventos"
                            class="blackLink">graduaciones, bodas, XV años, eventos empresariales o bautizos</a>,
                        contamos con la creatividad y la atención al detalle
                        necesarias para hacer realidad tus sueños. <br> <br>
                        <hr>

                        {{!-- Con un enfoque personalizado, nos encargamos de todos los aspectos de tu evento, desde la
                        selección del lugar ideal hasta la elección del catering, la decoración y la música. Nos
                        dedicamos a que tú y tus invitados disfruten de cada momento, sin tener que preocuparse por nada
                        más que pasar un buen rato juntos. <br> <br> --}}

                        ¡Contáctanos por redes sociales o llena nuestro formulario
                        para recibir una cotización gratuita! Nuestro equipo estará encantado de escuchar tus ideas y
                        brindarte soluciones personalizadas que se adapten a tus necesidades y presupuesto.
                    </h5> <br>
                    <button type="button" class="btn btn-lg btn-rounded buttonAction buttonMenuM"
                        onclick="location.href='/eventos';">Ver eventos</button> <button type="button"
                        class="btn btn-lg btn-rounded buttonAction buttonMenu2 "
                        onclick="location.href='/menu';">Contacto</button>

                </div>

                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/2.jpg" class="img-thumbnail   imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/3.jpg" class="img-thumbnail   imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                </div>
                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/4.jpg" class="img-thumbnail   imgGal " alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/5.jpg" class="img-thumbnail   imgGal" alt="Hollywood Sign on The Hill" />
                </div>


            </div>

        </div>
    </div>
    <div class="PropValueDiv" id="eventos">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <h2 class="text-center title1 title1padding">Reserva fecha y celebra tu evento exclusivo</h2>
                </div>
                <div class="row responsiveServicePrev">
                    <div class="col-md-3 container1">


                        <img src="/assets/images/evento3.jpg" alt="Avatar"
                            class="image1 img-thumbnail imgGal2 galImags imgHoverStyle">
                        <div class="middle1">
                            <div class="text text-black">Bodas
                                <hr> El día más importante de tu vida en una experiencia verdaderamente mágica. <br>
                                <button type="button" class="btn btn-outline-dark btn-rounded"
                                    data-mdb-ripple-color="dark" onclick="location.href='/sociales';">Ver más</button>

                            </div>
                        </div>
                        {{!-- <div class="overlay2"></div>
                        <img src="/assets/images/evento3.jpg" class="img-thumbnail imgGal galImags imgHoverStyle"
                            alt="Hollywood Sign on The Hill" /> --}}

                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento4.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal2 galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black">Bodas LGBT -
                                <hr> El amor en todas sus formas a las parejas del mismo sexo y un matrimonio
                                verdaderamente auténtico.
                                <br>
                                <button type="button" class="btn btn-outline-dark btn-rounded"
                                    data-mdb-ripple-color="dark" onclick="location.href='/sociales';">Ver más</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento2.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal2 galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Eventos empresariales
                                <hr>
                                Impulsa el éxito de tu empresa con nuestro servicio de eventos
                                empresariales.
                                <br>
                                <button type="button" class="btn btn-outline-dark btn-rounded"
                                    data-mdb-ripple-color="dark" onclick="location.href='/empresariales';">Ver
                                    más</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento5.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal2 galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Celebra el logro y el éxito con nuestros eventos de
                                graduaciones excepcionales.
                                <br>
                                <button type="button" class="btn btn-outline-dark btn-rounded"
                                    data-mdb-ripple-color="dark" onclick="location.href='#contacto';">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div> <br>


                {{!-- <div class="row responsiveService marginAuto" style="display: none;">
                    <div class="col-md-3">


                    </div>

                    <div class="col-md-3 col-sm-2">
                        <img src="/assets/images/evento3.jpg" class="img-thumbnail   imgGal "
                            alt="Hollywood Sign on The Hill" />
                        <img src="/assets/images/evento4.jpg" class="img-thumbnail   imgGal "
                            alt="Hollywood Sign on The Hill" />
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <img src="/assets/images/evento2.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Eventos empresariales
                                <hr>
                                Impulsa el éxito de tu empresa con nuestro servicio de eventos
                                empresariales.
                            </div>
                        </div>
                        <img src="/assets/images/evento5.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Celebra el logro y el éxito con nuestros eventos de
                                graduaciones excepcionales. </div>
                        </div>
                    </div>

                    <div class="col-md-3">


                    </div>


                </div><br> --}}
                <div class="row ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 marginAuto" style="text-align: center;">
                        <button type="button" class="btn  btn-lg btn-rounded buttonAction "
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                    <div class="col-md-2"></div>


                </div>
            </div>

        </div>
    </div>

    <div data-draggable="true" style="position: relative;" id="contacto">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class=" background-radial-gradient overflow-hidden">
                <style>
                    .background-radial-gradient {
                        background-color: hsl(218, 41%, 15%);
                        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                    }


                    .bg-glass {
                        background-color: hsla(0, 0%, 100%, 0.9) !important;
                        backdrop-filter: saturate(200%) blur(25px);
                    }
                </style>
                <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="row gx-lg-5 align-items-center mb-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                            <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> <span>Reserva
                                    la fecha</span> <br> <span class="yellowPaprika">¡Cotiza ahora!</span>
                            </h1>
                            <hr class="hrBorder">
                            <h4 class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">Organiza tu evento
                                en los lugares más exclusivos y vibrantes de la Ciudad de México.</h4>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                            <div class="card bg-glass">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example2"
                                                class="form-control formInput" name="number" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Número de teléfono</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto <span><a href="/privacidad" class="blackLink">política de
                                                        privacidad</a></span>
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>