<div class="inicio">
    <!-- Start your project here-->

    <div class="inicioDivT">

    </div>
    <div id="nosotros" class="nosotrosT container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Los Taqueñitos"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>


            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>



    </div> <br>
    <div class="serviciosT" id="productos">
        <div class="container">

            <div class="row">
                <h1 class="text-center fontlato title1">Celebra tu evento en los lugares más exclusivos de la ciudad
                </h1>
            </div><br> <br>
            <div class="row"> <br> <br> <br>
                <div class="col-md-6">
                    <h3 class="titlesTaque fontlato text-black">¡Tu evento inolvidable!</h3> <br>
                    <h5 class="titlesTaque fontlato text-black" style="text-align: justify;">

                        Nuestro equipo de expertos en eventos
                        está
                        listo para ayudarte a planificar y ejecutar la celebración perfecta. Ya sean <a href="#eventos"
                            class="blackLink">graduaciones, bodas, XV años, eventos empresariales o bautizos</a>,
                        contamos con la creatividad y la atención al detalle
                        necesarias para hacer realidad tus sueños. <br> <br>
                        <hr>

                        {{!-- Con un enfoque personalizado, nos encargamos de todos los aspectos de tu evento, desde la
                        selección del lugar ideal hasta la elección del catering, la decoración y la música. Nos
                        dedicamos a que tú y tus invitados disfruten de cada momento, sin tener que preocuparse por nada
                        más que pasar un buen rato juntos. <br> <br> --}}

                        ¡Contáctanos por redes sociales o llena nuestro formulario
                        para recibir una cotización gratuita! Nuestro equipo estará encantado de escuchar tus ideas y
                        brindarte soluciones personalizadas que se adapten a tus necesidades y presupuesto.
                    </h5> <br>
                    <button type="button" class="btn btn-lg btn-rounded buttonAction buttonMenuM"
                        onclick="location.href='/eventos';">Ver eventos</button> <button type="button"
                        class="btn btn-lg btn-rounded buttonAction buttonMenu2 "
                        onclick="location.href='/menu';">Contacto</button>

                </div>

                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/2.jpg" class="img-thumbnail   imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/3.jpg" class="img-thumbnail   imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                </div>
                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/4.jpg" class="img-thumbnail   imgGal " alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/5.jpg" class="img-thumbnail   imgGal" alt="Hollywood Sign on The Hill" />
                </div>


            </div>

        </div>
    </div>
    <div class="PropValueDiv" id="eventos">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <h2 class="text-center title1">Reserva fecha y celebra tu evento exclusivo</h2>
                </div><br> <br>
                <div class="row responsiveServicePrev">
                    <div class="col-md-3 container1">


                        <img src="/assets/images/evento3.jpg" alt="Avatar"
                            class="image1 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle1">
                            <div class="text text-black">Bodas
                                <hr> Nuestros servicios están diseñados para
                                convertir
                                el día más importante de tu vida en una experiencia verdaderamente mágica.
                            </div>
                        </div>
                        {{!-- <div class="overlay2"></div>
                        <img src="/assets/images/evento3.jpg" class="img-thumbnail imgGal galImags imgHoverStyle"
                            alt="Hollywood Sign on The Hill" /> --}}

                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento4.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black">LGBT - El amor en todas sus formas
                                <hr> Nos enorgullece ayudar a las parejas del mismo sexo a crear un matrimonio
                                verdaderamente especial y auténtico.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento2.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Eventos empresariales
                                <hr>
                                Impulsa el éxito de tu empresa con nuestro servicio de eventos
                                empresariales.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 container2">
                        <img src="/assets/images/evento5.jpg" alt="Avatar"
                            class="image2 img-thumbnail imgGal galImags imgHoverStyle">
                        <div class="middle2">
                            <div class="text text-black"> Celebra el logro y el éxito con nuestros eventos de
                                graduaciones excepcionales. </div>
                        </div>
                    </div>
                </div> <br>


                <div class="row responsiveService marginAuto" style="display: none;">
                    <div class="col-md-3">


                    </div>

                    <div class="col-md-3 col-sm-2">
                        <img src="/assets/images/evento3.jpg" class="img-thumbnail   imgGal "
                            alt="Hollywood Sign on The Hill" />
                        <img src="/assets/images/evento4.jpg" class="img-thumbnail   imgGal "
                            alt="Hollywood Sign on The Hill" />
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <img src="/assets/images/evento2.jpg" class="img-thumbnail   imgGal "
                            alt="Hollywood Sign on The Hill" />
                        <img src="/assets/images/evento5.jpg" class="img-thumbnail   imgGal"
                            alt="Hollywood Sign on The Hill" />
                    </div>

                    <div class="col-md-3">


                    </div>


                </div><br>
                <div class="row ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 marginAuto" style="text-align: center;">
                        <button type="button" class="btn  btn-lg btn-rounded buttonAction "
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                    <div class="col-md-2"></div>


                </div>
            </div>

        </div>
    </div> <br> <br>
    <div class="PropValueDiv">
        <div class="">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/images/evento2.jpg" class="img-thumbnail imgGal galImags"
                            alt="Hollywood Sign on The Hill" />


                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/evento5.jpg" class="img-thumbnail imgGal galImags"
                            alt="Hollywood Sign on The Hill" />
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="container" id="contacto">

    </div> <br> <br>

</div>