<div class="socialesDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <h2 class="fw-bold mb-5 text-center">Eventos sociales</h2>
                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <img src="/assets/images/bodaSocial.jpg" class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                            aria-controls="#picker-editor">

                    </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Bodas</h3>
                        <hr>

                        <p class="text-muted">Descubre el encanto y la magia de tu boda soñada con nuestros servicios de
                            eventos de bodas. <br> <br>

                            En <span class="blackLink">Eventos Paprika</span>, sabemos que tu boda es uno de los
                            momentos más importantes de tu
                            vida y nos comprometemos a convertir tus sueños en realidad. <br> <br>

                            Nuestro equipo de expertos en bodas se encargará de cada detalle, desde la selección del
                            lugar perfecto hasta la creación de un menú exquisito y la ambientación más romántica.
                            Queremos que te sientas como en un cuento de hadas el día más especial de tu vida. <br> <br>

                            Ya sea que prefieras una ceremonia íntima en un jardín encantador o una gran fiesta en un
                            elegante salón, nos aseguraremos de que cada aspecto de tu boda sea cuidadosamente planeado
                            y ejecutado con perfección. <br> <br>

                            No esperes más para comenzar a planificar tu boda de ensueño. Contacta con nosotros y
                            déjanos mostrar cómo podemos convertir este día en una experiencia mágica y memorable. <br>
                            <br>

                            Tu amor merece ser celebrado en grande. ¡Hagamos de tu boda un evento inolvidable!
                        </p>
                        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/gayWed.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Bodas LGBT</h3>
                        <hr>
                        <p class="text-muted">¡Juntos pintaremos el mundo con los colores del amor en tu boda gay! <br>
                            <br>

                            Nos emociona ser parte de tu historia y crear una boda que
                            refleje tu amor, tu estilo y tu unicidad como pareja del mismo sexo. <br> <br>

                            Nuestro equipo de expertos en bodas gay está comprometido en hacer realidad tus sueños más
                            audaces. Desde una ceremonia en un lugar pintoresco hasta una recepción en una locación
                            icónica, nos encargaremos de diseñar un evento que no solo deslumbrará a tus invitados, sino
                            que también resonará con tu esencia como pareja. <br> <br>

                            No dejes pasar la oportunidad de celebrar tu historia de amor con una boda gay espectacular.
                            Ponte en contacto con nosotros y descubre cómo podemos hacer de tu boda un verdadero cuento
                            de hadas moderno y vibrante. <br> <br>

                            Desafía los estereotipos, celebra el amor con una boda llena de encanto y orgullo.
                            ¡Juntos crearemos una experiencia nupcial que será recordada por siempre!
                        </p> <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/infantiles.jpg"
                            class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Fiestas infantiles</h3>
                        <hr>
                        <p class="text-muted">¡Haz realidad la fiesta de ensueño para tus pequeños con nuestros
                            emocionantes servicios de fiestas infantiles! <br> <br>

                            Entendemos lo importante que es para ti que tus hijos vivan
                            momentos inolvidables en su día especial. Nos enorgullece ser parte de esa alegría y hacer
                            que sus sueños se hagan realidad. <br> <br>

                            Nuestro equipo de expertos en fiestas infantiles se dedicará a crear un evento mágico y
                            lleno de diversión. Desde la decoración temática hasta las actividades divertidas y el
                            entretenimiento encantador, nos aseguraremos de que tus hijos y sus invitados tengan una
                            experiencia única. <br> <br>

                            No pierdas más tiempo pensando cómo organizar esa fiesta perfecta para tus pequeños.
                            Contáctanos hoy mismo y permítenos mostrar cómo podemos transformar la imaginación de tus
                            hijos en una fiesta mágica y llena de diversión. <br> <br>

                            ¡La felicidad de tus hijos merece una fiesta inolvidable! ¡Hagamos realidad sus sueños
                            juntos en su próxima fiesta infantil!</p> <button type="button"
                            class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                            onclick="location.href='#contacto';">Cotizar</button>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <style>
                    @media (min-width: 992px) {
                        #cta-img-nml-50 {
                            margin-left: 50px;
                        }
                    }
                </style>
                <div class="row gx-0">
                    <div class="col-lg-5 mb-4 mb-md-0">
                        <div class="d-flex py-md-5"> <img src="/assets/images/otros.jpg"
                                class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10" alt=""
                                aria-controls="#picker-editor"> </div>
                    </div>
                    <div class="col-lg-7 mb-4 mb-md-0 ">
                        <div class="navStyle h-100 rounded-6 p-4 ps-lg-5 text-black d-flex align-items-center ">
                            <div class="ps-lg-5">
                                <h2 class="fw-bold mb-4">Bautizos & XV años</h2>
                                <hr>
                                <p class="">Celebra momentos especiales con nuestros servicios de bautizos y
                                    XV años. Entendemos que hay ocasiones en la vida que merecen ser
                                    celebradas de manera única y significativa. Estamos aquí para ayudarte a crear
                                    recuerdos inolvidables en dos momentos clave: los bautizos y los XV años. <br> <br>


                                    Ya sea que estés planeando el bautizo de tu hijo, donde queremos que cada detalle
                                    honre su entrada a la vida espiritual, o los XV años de tu hija, donde buscamos
                                    crear una experiencia memorable y mágica, estamos comprometidos en hacer realidad
                                    tus sueños. <br> <br>

                                    No esperes más para hacer de estos momentos especiales algo mágico. Contáctanos hoy
                                    mismo y déjanos ayudarte a crear una celebración que quedará en los corazones de
                                    todos los invitados. <br> <br>

                                    Celebra el milagro de la vida con un bautizo inolvidable o marca el comienzo de una
                                    nueva etapa con un quinceañero extraordinario. ¡Llama ahora y juntos hagamos de
                                    estas celebraciones momentos mágicos y llenos de amor!</p>

                                <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="light"
                                    onclick="location.href='#contacto';">Cotizar</button>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div class="recintos responsiveSociales">

        <div class="valuePp">
            <div class="container">
                <h4 class=" text-center titleClebra"> <span>
                        <h1 class="titleInicioRecintos">Celebra tu evento en los lugares más exclusivos de la ciudad</h1>
                    </span>
                </h4>
            </div>
        </div> <br> <br>
        <div class="container">

            <div class="row ">
                <div class="col-md-3">
                    {{!-- <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div> --}}
                    <div class="card">
                        <img id="myImg" src="/assets/images/volterra.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Volterra</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close text-white">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg2" src="/assets/images/hacienda.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Hacienda San Andrés</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal2" class="modal2">
                        <span class="close2 text-white">X</span>
                        <img class="modal-content2" id="img02">
                        <div id="caption2"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg3" src="/assets/images/sanHipolito.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Ex convento San Hipólito</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal3" class="modal3">
                        <span class="close3 text-white">X</span>
                        <img class="modal-content3" id="img03">
                        <div id="caption3"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg4" src="/assets/images/clubPeriodistas.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Club de periodistas</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal4" class="modal4">
                        <span class="close4 text-white">X</span>
                        <img class="modal-content4" id="img04">
                        <div id="caption4"></div>
                    </div><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg5" src="/assets/images/terrazaD.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Terraza Donceles</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal5" class="modal5">
                        <span class="close5 text-white">X</span>
                        <img class="modal-content5" id="img05">
                        <div id="caption5"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg6" src="/assets/images/museoJose.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Museo José luis Cuevas</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal6" class="modal6">
                        <span class="close6 text-white">X</span>
                        <img class="modal-content6" id="img06">
                        <div id="caption6"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg7" src="/assets/images/plyforum.jpg" class="card-img-top pointer">
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Polyforum Cultural Siqueiros</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal7" class="modal7">
                        <span class="close7 text-white">X</span>
                        <img class="modal-content7" id="img07">
                        <div id="caption7"></div>
                    </div><br>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="myImg8" src="/assets/images/claustro.jpg" class="card-img-top pointer"
                            >
                        <div class="card" onclick="location.href='#contacto';">

                            <div class="card-body ">
                                <h5 class="card-title blackLink pointer">Claustro de Sor Juana</h5>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal8" class="modal8">
                        <span class="close8 text-white">X</span>
                        <img class="modal-content8" id="img08">
                        <div id="caption8"></div>
                    </div><br>
                </div>
            </div>

        </div>
    </div> <br> <br>
    <div data-draggable="true" style="position: relative;" id="contacto">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class=" background-radial-gradient overflow-hidden">
                <style>
                    .background-radial-gradient {
                        background-color: hsl(218, 41%, 15%);
                        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                    }


                    .bg-glass {
                        background-color: hsla(0, 0%, 100%, 0.9) !important;
                        backdrop-filter: saturate(200%) blur(25px);
                    }
                </style>
                <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="row gx-lg-5 align-items-center mb-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                            <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> <span>Reserva
                                    la fecha</span> <br> <span class="yellowPaprika">¡Cotiza ahora!</span>
                            </h1>
                            <hr class="hrBorder">
                            <h4 class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">Organiza tu evento
                                en los lugares más exclusivos y vibrantes de la Ciudad de México.</h4>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                            <div class="card bg-glass">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example2"
                                                class="form-control formInput" name="number" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Número de teléfono</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto <span><a href="/privacidad" class="blackLink">política de
                                                        privacidad</a></span>
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>