.footer {
    padding-top: 3%;
    padding-bottom: 3%;

}
.yellowPaprika{
    color: #dcc06c !important;
}
.marginAuto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.fontReboto {
    font-family: 'Roboto', sans-serif;
}

.fontlato {
    font-family: 'Lato', sans-serif !important;
}

.nav-link,
.blackLink {
    color: #1f6e99 !important;
}

.navStyle {
    background-color: #eed0b3;

}
.hrBorder{
    border: 2px solid white;
}

.nav-link:hover,
.blackLink:hover {
    color: #941804 !important;

}

.title1 {
    color: #941804;
}


.pointer {
    cursor: pointer;
}

.serviciosT {
    padding-top: 3%;
    background-image: url("/assets/images/fondo2Taq.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

.bannerMenu {
    background-image: url("/assets/images/menuTaqueBanner.jpg");
}

.inicioDivT {
    height: 40rem;
    background-image: url("/assets/images/eventoBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotrosT {
    margin-top: -3%;
}

.bannerConsultingJofer {
    background-image: url("/assets/images/bannerCosulting.jpg");
}

.bannerSpace {
    height: 16rem;
    background-image: url("/assets/images/bannerSpace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    margin-top: 5%;
}

.privacidadBanner {
    height: 36rem;
    background-image: url("/assets/images/eventoPrivacy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.PropValueDiv {
    background-image: url("/assets/images/bannerTacos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.tacosTitle {
    font-size: 4rem;
    margin-bottom: 5%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #f1dfce;
    padding-top: 3%;
    padding-bottom: 6%;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    /* width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.container1:hover .image1 {
    opacity: 0.2;
}

.container2:hover .image2 {
    opacity: 0.2;
}
.container2:hover .image3 {
    opacity: 0.2;
}

.container1:hover .middle1 {
    opacity: 1;
}
.container2:hover .middle2 {
    opacity: 1;
}
.container2:hover .middle3 {
    opacity: 1;
}

/* .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */

.tablePrivacidad {
    margin-bottom: 15%;
}

.divCatchUp {
    padding-top: 3%;
    margin-top: -3%;
}


.colorLightTaqueñitos {
    color: #FEDAA0;
}

.colorStrongTaqueñitos {
    color: #E84030;
    font-size: 4rem;
    margin-top: 3%;

}

.buttonMenu2 {
    margin-left: 2%;
}



.buttonAction {
    color: #FEDAA0 !important;
    background-color: #1f6e99 !important;
}

.buttonMenuM {
    margin-left: 3%;
}

.menuButtonDiv {
    padding: 1.1% !important;
    margin-left: 1%;
}

#menuDisplay {
    margin-top: -5%;
}

.imageCabezaBlanca {
    width: 15rem !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

@media (min-width: 992px) {
    .autenticos {
        font-size: 4rem;
        margin-bottom: 3%;
    }

    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }

    .menuBtns {
        font-size: 1rem !important;
    }
    .title1padding{
        padding-bottom: 3%;
    }
}


@media(max-width:991px) {
    .title1padding{
        padding-top: 5%;
    }

    /* .responsiveService{
        display: block !important;
    }
    .responsiveServicePrev{
        display: none !important;
    } */
    .menuDisplayBttmElement {
        margin-top: 15%;
    }

    #menuDisplay {
        margin-top: -30%;
    }

    .menuButtonDiv {
        margin-top: 8%;
        padding: 4% !important;
    }

    .buttonMenuM {
        margin-left: 8% !important;
    }

    .galImags {
        margin-top: 10% !important;
    }

    .colorStrongTaqueñitos {
        font-size: 2rem;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 3%;
    }

    .imgGal {
        width: 46% !important;
        margin-left: 2%;
    }

    .historiaTaque {
        margin-top: 10%;
    }

    .tacosTitle {
        font-size: 3rem;
    }

    .autenticos {
        font-size: 3rem;
    }

    .overlay {
        padding-bottom: 10%;
    }

    .serviciosT {
        margin-top: -5%;
        padding-top: 15%;
        padding-bottom: 15%;
        background-image: url("/assets/images/fondo2TaqRes.jpg");
        ;

    }

    .secondCard {
        margin-top: 10%;

    }

    .divCatchUp {
        display: none;
    }

    .footer {
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }

  
    .responsiveMarginCard {
        margin-top: 5%;
    }

    .inicioDivT {
        height: 18rem;

    }

}